* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #CCC;
}

.container {
    
    height: 200px;
    width: 100%;
    background-color: #FCB;

    border: seagreen solid 2px;
    font-size: 25px;
    color: blue;
}
.container strong{
  
    border: darkcyan solid 1px;
}






